<h1>New Game</h1>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYsFrnvKIEmREiU0uHWk0SI-KnU7J1cbc&libraries=places&location=-33.8670522,151.1957362&radius=500&callback=initAutocomplete"> </script>

<%= render 'form', game: @game %>

<%= link_to 'Back', games_path %>
