
<!DOCTYPE html>
<html class="width">
<head>
	<title></title>
</head>

<body class="width">
	<div class="head-bar"></div>

	<div class="signup-box">
	
	<h1 id="type-left">New Game</h1>

	<%= render 'form', game: @game %>

	<%= link_to 'Back', games_path %>
	</div>

</body>
</html>





