// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap-sprockets";
// @import "bootstrap";


/*html, body {
    height: 100%;
    margin: 0px;
    padding: 0;
}*/

.search-box {
	padding-left: 44%;
	padding-top: 20%;
}

.width {
	height: 100%;
    margin: 0px;
    padding: 0;
}

.head-bar {
    background-image: url(https://static.pexels.com/photos/477614/pexels-photo-477614.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 25%;
    padding: 0px;
    margin-top: 41px;
}

.background-home {
background-image: url(https://static.pexels.com/photos/477614/pexels-photo-477614.jpeg); 
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
background-size: cover;
margin: 0px;
}

#type-left {
padding-left: 30px;
padding-top: 30px;
text-align: left;
margin-top: 0px;
}

.signup-box {
	background-color: white;
}

.container-games {
	padding-top: 30px;
	color: black;
	background: white;
}

form {

	padding-left: 40px;
}

table {
	margin-left: 100px;
    background-color: transparent;
}

thead {
	text-align: left;
	padding: 0px;
}

#location {
	padding-left: 10px;
}

#start{
	padding-left: 10px;
} 

#stop{
	padding-left: 10px;
} 

#sport{
		padding-left: 10px;

}

#player{
		padding-left: 10px;

}

#description{
	padding-left: 10px;
}

#location{
	padding-left: 120px;
}

td {
	display: flex;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    vertical-align: middle;
}

#map{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}