// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap-sprockets";
// @import "bootstrap";
/*html, body {
   height: 100%;
   margin: 0px;
   padding: 0;
}*/
.top{
  width: 100%;
  height: 100%;
  background-image: url("all.jpg");
  background-size: cover;
  background-position: center;
}

.newgame {
  width: 100%;
  height: 100%;
  background-image: url("imgae.jpg");
  background-size: cover;
  background-position: center;

}

.sign{
  width: 100%;
  height: 100%;
  background-image: url("soccer1.jpg");
  background-size: cover;
  background-position: center;
}

button{
  border: none;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 10px;

}
.buttoncolor{
  color: white !important;
}
.login{
  padding-top: 20px;
  padding-right: 20px;
}

.login button{
    border-radius: 0px;
    color: white;
}
.login button:first-of-type{
  margin-left: 7px;
}


.logo-search {
  position: relative;
}

.logo-search img {
  position: absolute;
}

.logo-search .search-box {
  position: absolute;
  top: 27vh;
  left: 28%;
}
#cover{
  height: 100%;
  width: 100%;
  margin: 0;
}


.btn-default{

  color: white;
  background-color: transparent;

  float: right;
}
.search-box {
    // padding-left: 20%;
    // padding-top: 30%;
}


.width {
    height: 100%;
   margin: 0px;
   padding: 0;
}

.head-bar {
   background-image: url(https://static.pexels.com/photos/477614/pexels-photo-477614.jpeg);
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px;
   height: 25%;
   padding: 0px;
   margin-top: 41px;
}

.background-home {
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
background-size: cover;
margin: 0px;
}

#type-left {
padding-left: 30px;
padding-top: 30px;
text-align: left;
margin-top: 0px;
}

.signup-box {
    background-color: white;
    padding-left: 30px;
}

.container-games {
    padding-top: 30px;
    color: black;
    background: white;
}

// form {
//
//     padding-left: 40px;
// }

table {
    margin-left: 100px;
   background-color: transparent;
}

thead {
    text-align: left;
    padding: 0px;
}

#location {
    padding-left: 10px;
}

#start{
    padding-left: 10px;
}

#stop{
    padding-left: 10px;
}

#sport{
        padding-left: 10px;

}

#player{
        padding-left: 10px;

}

#description{
    padding-left: 10px;
}

#location{
    padding-left: 120px;
}

td {
    display: flex;
}

img {
  width: 150px;
  height: 150px;
  position: absolute;
  vertical-align: middle;
  top: 7vh;
  left: 32%;
  //  margin-left: 350px;
  //  margin-top: 15%;
  //  margin-bottom: 0px;
}
#map{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.game-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    // background:url(https://raw.githubusercontent.com/khadkamhn/day-01-game-form/master/img/bg.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    padding-top: 29px;
}

.game-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:51px 70px 50px 70px;
    background:rgba(66, 134, 244,.5);
}

.game-html .game-in,
.game-form .group {
    display:none;
}
.game-html .tab,
.game-form .group .label,
.game-form .group .button{
    text-transform:uppercase;
    color: #fff;
    border-color: #1161ee;
}
.game-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    display:inline-block;
    border-bottom:2px solid transparent;
}

.game-html + .tab{
    color:#fff;
    border-color:#1161ee;
}
.game-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.game-form .group{
    margin-bottom:15px;
}
.label {
  color: #fff;
  display:block;
  font-size: 15px;
  width:100%;
}
.input,
.button{
    color: #000;
    display:block;
    font-size: 15px;
    width:100%;

}

#options,
.select, {
  width: 100%;
  display: block;
}
 .input,
 .button,
 select {
    border:none;
    padding:10px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background:rgba(255,255,255,.6);
}

.disc,
#game_description {
    width: 100%;

}

orm .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.game-form .group .label{
    color:#aaa;
    font-size:12px;
}
.game-form .group .button{
    background:#1161ee;
}
.game-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.game-form .group label .icon:before,
.game-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.game-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.game-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.game-form .group .check:checked + label{
    color:#fff;
}
.game-form .group .check:checked + label .icon{
    background:#1161ee;
}
.game-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.game-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.game-html .sign-in:checked + .tab + .sign-up + .tab + .game-form .sign-in-htm{
    transform:rotate(0);
}
.game-html .sign-up:checked + .tab + .game-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

@media only screen and (max-width: 500px) {
    form {
        padding-top: 21px;
    }
}
