<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application',
  'data-turbolinks-track': 'reload' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Player</title>
  <style>
    #map {
      height: 50%;
      width: 50%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 10px;
      padding: 0;
    }
  </style>
  </head>
  <body>

    <%= yield %>

  </body>
  </html>
